@import url("https://fonts.googleapis.com/css?family=Quicksand");

/*====== WIDTH ======*/
.screenW {
    width: 970px
}
.fullW {
    width: 100%;
}
/*====== HEIGHT ======*/
.screenH {
    margin-top: 25px;
    height: 342px;
}
.fullH {
    height: 100%;
}
.height70 {
    height: 70px;
}
/*====== BG COLOR ======*/
.dGray {
    background-color: #333;
}
.white {
    background-color: #fff;
}
.white50 {
    background-color: #ffffff80;
}
.black50 {
    background-color: #00000080;
}
/*====== FONT ======*/
.fSize2 {
    font-size: 2rem;
}
/*====== IMAGE ======*/
.imgCover {
    object-fit: cover;
}
/*====== OVERFLOW ======*/
.overflowH {
    overflow: hidden;
}
/*====== TRANSITIONS ======*/
.transition1l {
    transition: left 3s ease-in-out;
}
/*====== POSITION ======*/
.abs {
    position: absolute;
}
.rel {
    display: flex;
    position: relative;
}
.left0 {
    left: 0px;
}
.left100vw {
    left: 970px
}
.leftM100vw {
    left: -970px
}
.bot0 {
    bottom: 0;
}
/*====== FLEX ======*/
.df {
    display: flex;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.fCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex1 {
    flex: 1;
}
.flex8 {
    flex: 8;
}

/*====== CUSTOM ======*/
.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    /* transition: background-color 0s ease-in-out; */
}

/* FILE UPLOAD */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  /* border: 2px solid gray; */
  color: white;
  background-color: #248bfb;
  padding: 8px 20px;
  /* border-radius: 8px; */
  font-size: 14px;
  /* font-weight: bold; */
}

.btn:hover {
  background-color: black;
}
.upload-btn-wrapper:hover {
  background-color: #095fae;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;

}


@keyframes jump {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0px); }
}

@keyframes shadow {
  0% { filter: drop-shadow(0px 0px 1px grey); }
  25% { filter: drop-shadow(0px 0px 2px grey); }
  50% { filter: drop-shadow(5px 15px 8px grey); }
  100% { filter: drop-shadow(0px 0px 1px grey); }
}

.fa-heart {
  /* margin-left: 25px; */
  z-index: 2000;
  padding: 13px 107px 15px 24px;
  /* border: 2px solid #ececec; */
  border: none;
  /* border-right: 2px solid #ececec; */
}

.fa-heart:hover {
  color: red;
  animation: jump 1s ease-in 2, shadow 1s ease-in 2;
}


p > .fa-heart {
  color: red;
  z-index: 2000;
  padding: 13px 107px 15px 24px;
  /* border: 2px solid #ececec; */
  border: none;
  /* border-right: 2px solid #ececec; */
}
p > .fa-heart:hover {
  color: red;
  z-index: 2000;
  padding: 13px 107px 15px 24px;
  /* border: 2px solid #ececec; */
  border: none;
  /* border-right: 2px solid #ececec; */
  animation: jump 1s ease-in 2, shadow 1s ease-in 2;
}

.one > .fa-heart {
  /* position: absolute; */
  color: red;
  margin-left: -15px;
  padding: 17px 259px 20px 35px;
  border: none;
  /* animation: jump 1s ease-in 2, shadow 1s ease-in 2; */
}

.one > .fa-heart:hover {
  /* position: absolute; */
  color: red;
  margin-left: -15px;
  padding: 17px 259px 20px 35px;
  border: none;
  animation: jump 1s ease-in 2, shadow 1s ease-in 2;
}

.two > .fa-heart { 
  /* position: absolute; */
  margin-left: -15px;
  padding: 17px 259px 20px 35px;
  border: none;
  /* animation: jump 1s ease-in 2, shadow 1s ease-in 2; */
}

.two > .fa-heart:hover { 
  /* position: absolute; */
  margin-left: -15px;
  padding: 17px 259px 20px 35px;
  border: none;
  animation: jump 1s ease-in 2, shadow 1s ease-in 2;
}


.fa-layer-group {
  /* margin-left: 25px; */
  z-index: 2000;
  padding: 13px 107px 15px 24px;
  /* border: 2px solid #ececec; */
  border: none;
  /* border-right: 2px solid #ececec; */
}

.fa-layer-group:hover {
  color: rgb(77, 193, 77);
  animation: jump 1s ease-in 2, shadow 1s ease-in 2;
}


p > .fa-layer-group {
  color: rgb(77, 193, 77);
  z-index: 2000;
  padding: 13px 107px 15px 24px;
  /* border: 2px solid #ececec; */
  border: none;
  /* border-right: 2px solid #ececec; */
}
p > .fa-layer-group:hover {
  color: rgb(77, 193, 77);
  z-index: 2000;
  padding: 13px 107px 15px 24px;
  /* border: 2px solid #ececec; */
  border: none;
  /* border-right: 2px solid #ececec; */
  animation: jump 1s ease-in 2, shadow 1s ease-in 2;
}

.one > .fa-layer-group {
  /* position: absolute; */
  color: rgb(77, 193, 77);
  margin-left: -15px;
  padding: 17px 259px 20px 35px;
  border: none;
  /* animation: jump 1s ease-in 2, shadow 1s ease-in 2; */
}

.one > .fa-layer-group:hover {
  /* position: absolute; */
  color: rgb(77, 193, 77);
  margin-left: -15px;
  padding: 17px 259px 20px 35px;
  border: none;
  animation: jump 1s ease-in 2, shadow 1s ease-in 2;
}

.two > .fa-layer-group { 
  /* position: absolute; */
  margin-left: -15px;
  padding: 17px 259px 20px 35px;
  border: none;
  /* animation: jump 1s ease-in 2, shadow 1s ease-in 2; */
}

.two > .fa-layer-group:hover { 
  /* position: absolute; */
  margin-left: -15px;
  padding: 17px 259px 20px 35px;
  border: none;
  animation: jump 1s ease-in 2, shadow 1s ease-in 2;
}

/* @keyframes slideInFromLeft { */
  /* 0% { */
    /* opacity: 0; */
    /* transform: scale(1.02); */
  /* } */
  /* 100% { */
    /* opacity: 1; */
    /* transform: scale(1); */
  /* } */
/* }  */

/* div {   */
  /* This section calls the slideInFromLeft animation we defined above */
  /* animation: .75s ease-in 1s 1 slideInFromLeft; */
  
  /* background: #333; */
  /* padding: 30px; */
/* } */

