@import url("https://fonts.googleapis.com/css?family=Quicksand");

/*====== WIDTH ======*/
.screenW {
    width: 970px
}
.fullW {
    width: 100%;
}
/*====== HEIGHT ======*/
.screenH {
    margin-top: 25px;
    height: 342px;
}
.fullH {
    height: 100%;
}
.height70 {
    height: 70px;
}
/*====== BG COLOR ======*/
.dGray {
    background-color: #333;
}
.white {
    background-color: #fff;
}
.white50 {
    background-color: #ffffff80;
}
.black50 {
    background-color: #00000080;
}
/*====== FONT ======*/
.fSize2 {
    font-size: 2rem;
}
/*====== IMAGE ======*/
.imgCover {
    object-fit: cover;
}
/*====== OVERFLOW ======*/
.overflowH {
    overflow: hidden;
}
/*====== TRANSITIONS ======*/
.transition1l {
    transition: left 3s ease-in-out;
}
/*====== POSITION ======*/
.abs {
    position: absolute;
}
.rel {
    display: flex;
    position: relative;
}
.left0 {
    left: 0px;
}
.left100vw {
    left: 970px
}
.leftM100vw {
    left: -970px
}
.bot0 {
    bottom: 0;
}
/*====== FLEX ======*/
.df {
    display: flex;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.fCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex1 {
    flex: 1;
}
.flex8 {
    flex: 8;
}

/*====== CUSTOM ======*/
.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    /* transition: background-color 0s ease-in-out; */
}

/* FILE UPLOAD */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  /* border: 2px solid gray; */
  color: white;
  background-color: #248bfb;
  padding: 8px 20px;
  /* border-radius: 8px; */
  font-size: 14px;
  /* font-weight: bold; */
}

.btn:hover {
  background-color: black;
}
.upload-btn-wrapper:hover {
  background-color: #095fae;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;

}